:root{
  --baseWidth: 200px;
}
body{
  overflow: hidden;
  display: grid;
  grid-template-columns: clamp(150px, 1.875rem + 21.4286vw, 180px) 1fr;
}

nav[data-nav] .navlinks [data-nav-tabs].selected{
  font-weight: bold;
}

main{
  overflow: hidden auto;
}
main article{
  display: none;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
[data-nav-windows].show{
  display: flex;
}
article h1{
  font-size: var(--fs-20-24);
}
main article .addAnnc{
  background: var(--white);
  padding: 8px 14px;
  border: solid 1px var(--l-gray-2);
  width: fit-content;
}
#announcementForm > *:not(:last-child){
  margin-bottom: 20px;
}
#announcementForm .top{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#announcementForm .top > div{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
#announcementForm .top input{
  border: 0;
  padding: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
}
#announcementForm .top input:focus{
  border: 0;
  border-bottom: 1px solid hsl(0, 0%, 65%);
}
#announcementForm .top input[type="text"]{
  max-width: 300px;
  width: 100%;
}
#announcementForm .top input[type="date"]{
  width: fit-content;
}
#announcementForm label[for="ancMainImg"]{
  align-self: center;
  height: var(--baseWidth);
  width: var(--baseWidth);
}
#announcementForm .mainImgCont{
  background: hsl(0, 0%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: var(--baseWidth);
  width: var(--baseWidth);
  cursor: pointer;
}
#announcementForm .mainImgCont p{
  font-size: var(--fs-12-14);
}
#announcementForm label[for="ancMainImg"].hasImg,
#announcementForm label[for="ancMainImg"].hasImg .mainImgCont{
  width: fit-content;
}
#announcementForm .mainImgCont p{
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}
#announcementForm .imagePreview{
  /* object-fit: contain; */
  height: var(--baseWidth);
}
#announcementForm .titleCont{
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}
#announcementForm .mid .galleryImages{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
#announcementForm .mid .galleryImages li{
  position: relative;
  display: flex;
  aspect-ratio: 1;
}
#announcementForm .mid .galleryImages li > img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#announcementForm .mid .galleryImages button{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
}
#announcementForm .mid .galleryImages button img{
  width: inherit;
}
#announcementForm .mid label[for="ancGalleryImg"]{
  height: 100%;
  width: 100%;
}
#announcementForm .mid label[for="ancGalleryImg"] div{
  background: hsl(0, 0%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
#announcementForm .bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#announcementForm .errorMsg{
  opacity: 0;
  color: rgb(235, 16, 16);
}
#announcementForm .bottom button{
  background: var(--white);
  padding: 8px 14px;
  border: solid 1px var(--l-gray-2);
  width: fit-content;
}
.anncPreview{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.anncPreview li{
  background: var(--l-gray-1);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.anncPreview .ancMain{
  display: flex;
  gap: 15px;
}
.anncPreview .mainImg{
  height: 220px;
}
.anncPreview .txt{
  display: flex;
  flex-direction: column;
}
.anncPreview .txt span{
  font-size: var(--fs-12-14);
  margin: 7px 0 12px;
}
.anncPreview .icon{
  background: var(--l-gray-2);
  position: absolute;
  padding: 10px 12px;
  top: 0px;
  right: 0px;
  display: flex;
  gap: 10px;
}
.anncPreview .icon svg{
  height: var(--fs-16-20);
  cursor: pointer;
}
.anncPreview .ancGallery{
  display: none;
}
.anncPreview .ancGallery:has(> img){
  display: flex;
  width: 100%;
  overflow: auto hidden;
  gap: 5px;
}
.anncPreview .ancGallery img{
  height: 130px;
}

.course-modal.show,
.course-modal article.show{ display: flex; }
.course-modal{
  display: none;
  justify-content: center;
  align-items: center;
  background: hsla(222, 2%, 6%, 60%);
  z-index: 10;
  position: fixed;
  height: 100%;
  width: 100%;
}
.course-modal article{
  background: #fff;
  display: none;
  flex-direction: column;
  overflow: hidden auto;
  width: 900px;
  height: 90vh;
  padding: 20px;
  box-shadow: 0 0 90px hsla(0, 0%, 0%, 0.35);
}
.course-modal .closeBtn{
  position: absolute;
  top: 10px;
  right: 30px;
  width: 20px;
  color: var(--white-1);
}
.course-modal .anncModal h1{
  margin-bottom: 12px;
}

/* --==Responsive==-- */
@media(max-width: 1400px){

}
@media(max-width: 1250px){

}
@media(max-width: 940px){
  .anncPreview .mainImg{
    height: 200px;
  }
  .anncPreview .ancGallery img{
    height: 100px;
  }
}
@media(max-width: 780px){
  .anncPreview .ancMain{
    flex-direction: column;
    width: 100%;
  }
  .anncPreview .mainImg{
    width: fit-content;
    height: 170px;
    margin-inline: auto;
  }
  .anncPreview .ancGallery img{
    height: 80px;
  }
}
@media(max-width: 560px){
  #announcementForm .mid .galleryImages{
    grid-template-columns: repeat(2, 1fr);
  }
}