:root{
  --baseWidth: 220px;
  --sidebarWidth: clamp(150px, 1.875rem + 21.4286vw, 180px);
}
body{
  overflow: hidden;
  display: grid;
  grid-template-columns: var(--sidebarWidth) 1fr;
}

nav[data-nav] .navlinks [data-nav-tabs].selected{
  font-weight: bold;
}

main{
  overflow: hidden auto;
}
main article{
  display: none;
  flex-direction: column;
  padding: 20px;
}
main article > *{
  margin-bottom: 40px;
}
[data-nav-windows].show{
  display: flex;
}
article h1{
  font-size: var(--fs-20-24);
  margin-bottom: 10px;
}
#announcementForm > *:not(:last-child){
  margin-bottom: 20px;
}
#announcementForm .top{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#announcementForm .top > div{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
#announcementForm .top input{
  border: 0;
  padding: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
}
#announcementForm .top input:focus{
  border: 0;
  border-bottom: 1px solid hsl(0, 0%, 65%);
}
#announcementForm .top input[type="text"]{
  width: clamp(200px, 50%, 300px);
}
#announcementForm .top input[type="date"]{
  width: fit-content;
}
#announcementForm label[for="ancMainImg"]{
  align-self: center;
  height: var(--baseWidth);
  width: var(--baseWidth);
}
#announcementForm .mainImgCont{
  background: hsl(0, 0%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: var(--baseWidth);
  width: var(--baseWidth);
  cursor: pointer;
}
#announcementForm .mainImgCont p{
  font-size: var(--fs-12-14);
}
#announcementForm label[for="ancMainImg"].hasImg,
#announcementForm label[for="ancMainImg"].hasImg .mainImgCont{
  width: fit-content;
}
#announcementForm .mainImgCont p{
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}
#announcementForm .imagePreview{
  /* object-fit: contain; */
  height: var(--baseWidth);
}
#announcementForm .mid .galleryImages{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 10px;
}
#announcementForm .mid .galleryImages li{
  display: flex;
  aspect-ratio: 1;
}
#announcementForm .mid .galleryImages img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#announcementForm .mid label[for="ancGalleryImg"]{
  height: 100%;
  width: 100%;
}
#announcementForm .mid label[for="ancGalleryImg"] div{
  background: hsl(0, 0%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
#announcementForm .bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#announcementForm .errorMsg{
  opacity: 0;
  color: rgb(235, 16, 16);
}
#announcementForm .bottom button{
  background: var(--white);
  padding: 8px 14px;
  border: solid 1px var(--l-gray-1);
  width: fit-content;
}
.annc-preview{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.annc-preview li{
  background: var(--l-gray-1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.annc-preview li > div{
  display: flex;
  gap: 15px;
}
.annc-preview .mainImg{
  height: 250px;
}
.annc-preview .txt{
  display: flex;
  flex-direction: column;
}
.annc-preview .txt span{
  font-size: var(--fs-12-14);
  margin: 7px 0 12px;
}
.annc-preview .ancGallery{
  display: flex;
  gap: 5px;
}
.annc-preview .ancGallery img{
  height: 150px;
}

/* --==Responsive==-- */
@media(max-width: 1400px){
  :root{
    --cont-width: 1200px;
  }

}
@media(max-width: 1250px){
  :root{
    --cont-width: 900px;
  }

}
@media(max-width: 940px){
  :root{
    --cont-width: 720px;
  }
}
@media(max-width: 780px){
  :root{
    --cont-width: 520px;
  }

}
@media(max-width: 560px){
  :root{
    --cont-width: calc(100% - 30px);
  }

  #announcementForm .mid .galleryImages{
    grid-template-columns: repeat(2, 1fr);
  }

  td, th{ padding: 3px; }
}