header{
  display: flex;
}
header img{
  width: 100%;
}
#homeAbout{
  background: var(--l-gray-2);
}
#homeAbout .cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
#anncLatest h1{
  margin-bottom: 10px;
}
#anncLatest .cont > div{
  display: grid;
  grid-template-columns: 1fr 265px;
  width: 100%;
  gap: 20px;
}
/* 240px 180px */
#anncLatest ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#anncLatest :where(li, .big){
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#anncLatest :where(ul, .big) img{
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3 / 2;
}
#anncLatest :where(ul, .big) h2{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--fs-16-20);
}
#anncLatest :where(ul, .big) p{
  color: var(--gray);
  font-size: var(--fs-12-14);
}


/* --==Responsive==-- */
@media(max-width: 1400px){
  #anncLatest .cont > div{
    grid-template-columns: 1fr 240px;
  }

}
@media(max-width: 1250px){
  #anncLatest .cont > div{
    grid-template-columns: 1fr 180px;
  }

}
@media(max-width: 940px){
  #anncLatest .cont > div{
    display: flex;
    flex-direction: column;
  }
  #anncLatest ul{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    overflow-y: hidden;
  }
  
}
@media(max-width: 780px){
  

}
@media(max-width: 560px){
  
}